
/*UTLITIES STYLING STARTS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
  }

body {
    background-color: rgb(255, 255, 255); 
 }

 .titles {
    font-size: 50px; 
}

/*UTLITIES STYLING ENDS*/

/*HEADER STYLING STARTS */

.links {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.links ul li a {
    font-family: 'Staatliches', cursive;
    margin: 25px;
    border-width: thin;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: black;
    transition: 1s;
}

.links ul li a:hover {
    font-size: 30px;
}

header h1 {
    font-family: 'Staatliches', cursive;
    color: black;
  }

/*HEADER STYLING ENDS*/

/*HERO STYLING STARTS*/

#hero h2 {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    padding: 100px;
    color: black;
}

#hero {
  background-image: linear-gradient( to top right,  chartreuse, aqua);
  height: 400px;
  
}

/*HERO STYLING ENDS*/

/*CONTENT BLOCK STYLING STARTS*/

.content-block {
    display: flex;
    padding: 30px;
}

.side {
    font-family: 'Staatliches', cursive;
    color: black;
    font-size: 40px;
    margin-right: 35px;
}

.bar {
    border-right: 5px solid black;
    height: 400px;

    
}

/*CONTENT BLOCK STYLING ENDS*/


/*ABOUT ME SECTION STYLING STARTS*/

#side-a {
    width:180%; 
}

#bar-a {
    margin-left: 20px;
}


#about-me img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 20px; 
    width: 30%;
    float: left;
}

#bio {
/*     display: flex;
    justify-content: space-between;
    align-items: center; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background-image: linear-gradient( to bottom left, lightsteelblue, steelblue);
    box-shadow: rgba(107, 77, 77, 0.35) 0px 5px 15px;
    padding: 30px;
    margin-right: 70px;
    
}

#bio p {
    text-align: left;
    overflow-x:visible;
}

/*ABOUT ME SECTION STYLING ENDS*/

/*PROJECT SECTION STYLING STARTS*/

#thumbnail {
    background-image: linear-gradient( to bottom right, lightsteelblue, steelblue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;  
}

#bar-b {
    padding-right: 12px;
}

#side-b {
    margin-left: -10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 7px;
    padding: 25px;
    font-size: 35px;
    text-transform: uppercase;
  }

.centered span {
	font-weight: 900;
}

.centered p {
	font-size: 20px;
	opacity: 0;
	margin-top: -70px;
}

.centered p:hover {
	font-size: 15px;
	opacity: 1;
	margin-top: 10px;
}

.centered:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}



/*PROJECT SECTION STYLING ENDS*/

/*SKILLS SECTION STYLING STARTS*/

#skills h1 {
    padding-right: 15px;
}

#skills {
    padding: 55px;
}

.skill-list {
    background-image: linear-gradient( to bottom left, lightsteelblue, steelblue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.skill-list span {
    font-weight: lighter;
}


/*SKILLS SECTION STYLING ENDS*/

/*CONTACT SECTION STYLING STARTS*/

#contact-pics a {
	color: white
}

#contact {
	background-image: linear-gradient( to bottom left,  chartreuse, aqua);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 30px; 
}

#contact-pics {
    margin: 10px;
    display: flex;
    border: white;
}

.containerG {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/richy-great-MAYEkmn7G6E-unsplash.jpg");
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
}

.containerE {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/stephen-phillips-hostreviews-co-uk-3Mhgvrk4tjM-unsplash.jpg");
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
}

.containerL {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/inlytics-linkedin-analytics-tool-2SE1zwzeLOs-unsplash.jpg");
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
}

.containerG {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/richy-great-MAYEkmn7G6E-unsplash.jpg");
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
}

.containerR {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/markus-winkler-7iSEHWsxPLw-unsplash.jpg");
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-size: cover;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
}


.img-text {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    background-color: black;
    border-radius: 10px;
    border: white;
    border-style: solid;
    border-width: thick;
    padding: 10px;
}

.img-text i {
    margin: 10px;
}

#contact h1 {
    padding-right: 15px;
}

.opaque:hover {
    opacity: 0.5;
}

.opaque {
    cursor: pointer;
}

/*CONTACT SECTION STYLING ENDS*/

/*FOOTER SECTION STYLING STARTS*/

footer {
    color:black;
}

/*FOOTER SECTION STYLING ends*/

/* MEDIA QUERY FOR LAPTOPS/SMALLER SCREENS */

@media screen and (max-width:1430px) {
    .content-block {
        flex-wrap: wrap;
    }

    .bar {
        height: 100px;
    }  
    
}

@media screen and (max-width:1285px) {
    #contact-pics {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:698px) {
    #bio {
        margin-right: 5px;
    }

    figcaption h2 {
        font-size: 18px;
    }

    .centered {
        font-size: 20px;
        height: 100px;
    }

    .centered p {
        display: none;
    }

    .feature {
        height: 200px;
    }

    #bio img {
        width: 50%;
    }

}