*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #a1c6e2;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
  }

header h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 50px;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 30px;
  }

header nav ul li {
  margin: 25px;
  border-bottom-style: solid;
  border-width: thin;
  font-size: 25px;
}

.hero {
  background-image: url(../images/xps-pduutGbL2-M-unsplash.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portrait {
    background-image: url(../images/hero-photo.JPG);
    height: 500px;
    width: 500px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: white;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 40px;
    margin: 40px;
    width: 50%;
    font-size: 18px;
    line-height: 2;
}

.bio h3 {
    font-size: 50px;
    border-bottom: solid;
    color: white;
}

