*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: #a1c6e2;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
  }

header nav ul li {
  margin: 25px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portrait {
    background-image: url(../images/MichelleAsuamah-LVIMAGERY-1.JPG);
    height: 700px;
    width: 450px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}